<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoreCast</title>
    <link rel="stylesheet" href = "static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Bootstrap JS (optional, but recommended for some interactive features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="header">ScoreCast</h1>
        <ul class="list-group">
            <a href="/Serie-A-Brazil" class="list-group-item list-group-item-action">Serie A (Brazil)</a>
            <a href="/Serie-B-Brazil"  class="list-group-item list-group-item-action">Serie B (Brazil)</a>
            <a href="/Primera-Division-Argentina" class="list-group-item list-group-item-action">Primera Division (Argentina)</a>
            <a href="/J1-League-Japan" class="list-group-item list-group-item-action">J1 League (Japan)</a>
            <a href="/Eliteserien-Norway" class="list-group-item list-group-item-action">Eliteserien (Norway)</a>
            <a href="/Veikkausliiga-Finland" class="list-group-item list-group-item-action">Veikkausliiga (Finland)</a>
        </ul>
    </div>
    <footer>
        <p>
            Our football match predictions are for informational purposes only. 
            We do not guarantee accuracy, and using the information for betting is at your own risk. 
            We are not liable for any losses. Please gamble responsibly.
        </p>
    </footer>
</body>
</html>