body{
    background-color: black !important;
}

.header{
    text-align: center;
    margin-top: 10vh;
    /* text-transform: uppercase; */
    font-size: 5vw;
    color: white;
}

.container{
    max-width: 80vw !important;    
}

.list-group{
    flex-direction: row !important;
    margin-top: 20vh;
    gap: 1.25vw;
}

.list-group-item {
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid rgba(0,0,0,.125) !important;
    text-align: center !important;
    padding: 2vh 2vw 2vh 2vw !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
}

.list-group-item:hover {
    background-color: #1775ff !important; 
    color: white !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .list-group {
        flex-direction: column !important;
    }
}